.main-container-form {
  padding: 6.2em 0;
}

.form {
  display: flex;
  flex-direction: column;
}

input, textarea {
  margin-top: .6em;
  border: .5px solid;
  border-radius: 12px;
  padding: .6em;
}

textarea {
  min-height: 100px;
  resize: none;
}

.submit-msg {
  display: flex;
  align-items: center;
}

.submit-btn {
  font-size: 1.5em;
  margin-top: .9em;
}