:root {
	--color-primary: #202D37;
	--color-secondary: #085AFC;
	--color-paragraph: #35404A;
	--color-button: #fff;

	--color-random: #202D37;
	--color-relax: #7639C3;
	--color-social: #E32B89;
	--color-cooking: #FF523B;
	--color-learning: #085AFC;

	/* h1, nav-links, buttons */
	--font-primary: 'Montserrat', sans-serif;
	/* h2 */
	--font-secondary: 'Lexend', sans-serif;
	/* p */
	--font-paragrpah: 'Noto Sans Yi', sans-serif;

}

.activity {
	font-family: var(--font-primary);
	font-weight: 600;
	font-size: 1.6em;
	line-height: 110%;
	color: var(--color-button);
	padding: 12px 14px;
	border-radius: 12px;
	border: none;
	margin: 12px 18px 0 0;
	background-color: var(--color-random);
}

.random {
	background-color: var(--color-random);
}

.relax, .relaxation {
	background-color: var(--color-relax);
}

.social {
	background-color: var(--color-social);
}

.cooking {
	background-color: var(--color-cooking);
}

.learning, .education {
	background-color: var(--color-learning);
}

.header::after {
	content: url("../public/bored-header.png");
	position: relative;
	top: -48em;
	left: 16em;
	z-index: -20;
	height: 0px;
	display: block;
	transition: top 0.5s;
}

.move-up::after {
	top: -52em;
}

h3 {
	font-family: var(--font-primary);
	font-size: 22px;
}

.activity-menu {}